<div class="containerAll">
    <div class="container">
        <form class="formularioEs">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Buscar Por:</mat-label>
              <mat-select [(ngModel)]="seleccionada" name="seleccionada">
                <mat-option *ngFor="let  option of options" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="seleccionada=='Estudiante'" appearance="fill">
              <mat-label>Buscar Por:</mat-label>
              <mat-select [(ngModel)]="seleccionada2" name="seleccionada2">
                <mat-option *ngFor="let  option of options2" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <div class="mb-3">
              <label for="Buscar" class="form-label">Buscar</label>
              <input name= "busqueda" type="text" class="form-control" [(ngModel)]="busqueda" id="Buscar">
            </div>
            <button type="submit" class="btn btn-primary" (click)="Buscar()">Buscar</button>
            
      </div>       
            
        </form>
    </div>
    <hr>
    <div *ngIf = "seleccionada == 'Estudiante'" class="tableEstudiante">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">cedula</th>
            <th scope="col">email</th>                
            <th scope="col">id_usuario_creacion</th>                
            <th scope="col">registDate</th>
            <th scope="col">telefono</th>                
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of this.estudianteService.listEstudianteBusqueda" >
            <td>{{estudiante.id}}</td>
            <td>{{estudiante.nombre}}</td>
            <td>{{estudiante.cedula}}</td>
            <td>{{estudiante.email}}</td>
            <td>{{estudiante.id_usuario_creacion}}</td>
            <td>{{estudiante.registDate}}</td>
            <td>{{estudiante.telefono}}</td>            
          </tr>
          
            
        </tbody>
      </table>
    </div>
    <div *ngIf = "seleccionada == 'Programa'" class="tablePrograma">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">nombre</th>
              <th scope="col">descripcion</th>
              <th scope="col">fecha_creacion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let programa of this.programaService.listProgramaBusqueda">
              <td>{{programa.id}}</td>
              <td>{{programa.nombre}}</td>               
              <td>{{programa.descripcion}}</td>   
              <td>{{programa.fecha_creacion}}</td>   
            </tr>
          </tbody>
        </table>
  </div>
</div>