.containerall{
    width: 100vw;
    height: auto;
    
    overflow: hidden;
}
.containerall::-webkit-scrollbar {
    width: 8px !important;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}
.containerall::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.containerall::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.containerall::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
.containerall::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.containerall::-webkit-scrollbar-track:hover,
.containerall::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}



