/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
    background-image: linear-gradient(180deg, #ffd1ff 0, #edbfff 16.67%, #d5adff 33.33%, #b89cff 50%, #968cfb 66.67%, #6d7ff7 83.33%, #2974f3 100%);
}
body::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: grey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
 /* creates padding around scroll thumb */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
